@CHARSET "UTF-8";

h1{
	text-align: center;
}

.submit{
	text-align: center;
}

.question{
	padding-left: 5%;
	padding-top: 5%;
}

img{
	padding-bottom: 5%;
}

.error-textBox{
	border: 4px solid red;
}

.error-text{
	color: red;
}

.correct-textBox{
	border: 4px solid #206D57;
}

.glyphicon.glyphicon-remove-circle {
    font-size: 30px;
}

img{
	margin:7px;
}